body {
    font-family: "Exo 2", sans-serif;
}

.navbar {
    background-color: black;
    font-size: large;
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link:hover {
    color: #FFF579;
}

.navbar .navbar-brand {
    margin-right: 2em;
}

.navbar .nav-item {
    margin-right: 1em;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

footer {
    margin: 2em;
    text-align: center;
}

/* produtos.html */
.category {
    display: none;
}

/* Linha do Tempo - Quem Somos */
.tl-separator {
    width: 2px;
    height: 100%;
    background-color: blue;
}